.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.contenido {
  padding: 20px;
}

mat-nav-list > a {
  padding: 15px;
}

mat-icon #btnNav {
  cursor: pointer;
  font-size: 32px;
  margin: 8px;
}
