<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="!mq600" #sidenav class="sidenav">
    <mat-toolbar color="primary">
      <img src="assets/iconoApp-White.png" alt="Icono de la App">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-list-item routerLink="/crearCitas" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        <span>Crear citas</span>
      </a>
      <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </a>
      <a mat-list-item (click)="auth.logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon *ngIf="mq600" (click)="togleMenu()" id="btnNav" >menu</mat-icon>
      <span>{{ nombreNegocio }}</span>
    </mat-toolbar>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
