<mat-accordion>
  <ng-container *ngFor="let fecha of fechas">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ fecha | date:'dd-MM-yyyy'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card *ngFor="let cita of citasAgrupadas[fecha]" style="margin-bottom: 8px;">
        <mat-card-content>
          Hora: {{ cita.fecha_cita | date:'shortTime' }} <br>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="eliminarCita(cita)">Eliminar </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
