<mat-stepper orientation="vertical" [linear]="isLinear" #steeper (selectionChange)="onStepChange($event)">
  <!--Paso 1-->
  <mat-step [stepControl]="primerFormulario" >
    <form [formGroup]="primerFormulario">
        <ng-template matStepLabel>Días a crear citas</ng-template>
        <!--Selección de días-->
        <mat-form-field>
          <mat-label>Rango de fechas...</mat-label>
          <mat-date-range-input [formGroup]="primerFormulario" [rangePicker]="picker">
            <mat-date-range-picker></mat-date-range-picker>
            <input matStartDate placeholder="Fecha de inicio" formControlName="fechaInicio">
            <input matEndDate placeholder="Fecha de fin" formControlName="fechaFin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <!--Selección de días libres del negocio-->
        <mat-form-field appearance="fill">
          <mat-label>Días libres</mat-label>
          <mat-select formControlName="diasLibres" multiple>
            <mat-option *ngFor="let dia of diasSemanaLista" [value]="dia">
              {{ dia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--Selección de días libres (introducidos por número por excepción)-->
    </form>
  </mat-step>
  <!--Selección de horarios-->
  <mat-step [stepControl]="segundoFormulario" >
    <form [formGroup]="segundoFormulario">
        <ng-template matStepLabel>Tramos horarios de las citas</ng-template>
        <!--Selección de horarios en los que se va a abrir-->
        <mat-radio-group formControlName="tipoJornada" aria-label="Tipo de jornada">
          <mat-radio-button value="jornadaPartida" >Jornada partida</mat-radio-button>
          <mat-radio-button value="jornadaContinua">Jornada continua</mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="segundoFormulario.get('tipoJornada')?.value === 'jornadaPartida'">
          <br>
          <!--Selección de horarios en los que se va a abrir cuando es jornada partida-->
          <div formGroupName="formularioHorasJornadaPartida">
            <mat-form-field>
              <mat-label>Hora de apertura Mañana</mat-label>
              <input matInput [matTimepicker]="pickerInicioManana" formControlName="aperturaManana">
              <mat-timepicker-toggle matIconSuffix [for]="pickerInicioManana"/>
              <mat-timepicker #pickerInicioManana/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Hora de cierre Mañana</mat-label>
              <input matInput [matTimepicker]="pickerCierreManana" formControlName="cierreManana">
              <mat-timepicker-toggle matIconSuffix [for]="pickerCierreManana"/>
              <mat-timepicker #pickerCierreManana/>
            </mat-form-field>

            <br>

            <mat-form-field>
              <mat-label>Hora de apertura Tarde</mat-label>
              <input matInput [matTimepicker]="pickerInicioTarde" formControlName="aperturaTarde">
              <mat-timepicker-toggle matIconSuffix [for]="pickerInicioTarde"/>
              <mat-timepicker #pickerInicioTarde/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Hora de cierre Tarde</mat-label>
              <input matInput [matTimepicker]="pickerCierreTarde" formControlName="cierreTarde">
              <mat-timepicker-toggle matIconSuffix [for]="pickerCierreTarde"/>
              <mat-timepicker #pickerCierreTarde/>
            </mat-form-field>
          </div>

          <br>
          <mat-form-field appearance="fill">
            <mat-label>Duración cita</mat-label>
            <mat-select formControlName="duracionCita">
              <mat-option *ngFor="let duracion of duracionCitaLista" [value]="duracion">
                {{ duracion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <!--Selección de horarios en los que se va a abrir cuando es jornada continua-->
        <ng-container *ngIf="segundoFormulario.get('tipoJornada')?.value === 'jornadaContinua'">
          <br>
          <div formGroupName="formularioHorasJornadaCompleta">
            <mat-form-field>
              <mat-label>Hora de apertura</mat-label>
              <input matInput [matTimepicker]="pickerInicioJornadaContinua" formControlName="apertura">
              <mat-timepicker-toggle matIconSuffix [for]="pickerInicioJornadaContinua"/>
              <mat-timepicker #pickerInicioJornadaContinua/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hora de cierre</mat-label>
              <input matInput [matTimepicker]="pickerCierreJornadaContinua" formControlName="cierre">
              <mat-timepicker-toggle matIconSuffix [for]="pickerCierreJornadaContinua"/>
              <mat-timepicker #pickerCierreJornadaContinua/>
            </mat-form-field>
          </div>
          <!--Selección de duración de las citas-->
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Duración cita</mat-label>
            <mat-select formControlName="duracionCita">
              <mat-option *ngFor="let duracion of duracionCitaLista" [value]="duracion">
                {{ duracion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
    </form>
  </mat-step>
  <!--Revisión de citas-->
  <mat-step>
    <ng-template matStepLabel>Revisión de citas</ng-template>
      <app-previsualizar-citas-creadas [citas]="citas"></app-previsualizar-citas-creadas>
  </mat-step>
  <!--Crear citas-->
  <mat-step >
    <ng-template matStepLabel>Crear citas</ng-template>
    <button mat-stroked-button (click)="procesarFormularios()">Crear citas</button>
    <button mat-stroked-button>Eliminar </button>
  </mat-step><button mat-stroked-button>Eliminar </button>
</mat-stepper>
